{# Copyright (c) 2020 - 2022 Genome Research Ltd. -#}
Dear {{ stakeholder }},

/lustre data you own has been archived to humgen Irods.
{% if filelist_as_attachement is defined and filelist_as_attachement == 'no' -%}
Full listing ({{n_files}} files) can be found at the bottom of this e-mail.
{% else %}
Full listing ({{n_files}} files) can be found in the attachment.
{% endif -%}
{% if summary is defined and summary %}
Size information of file list summarised by farm Unix group:
{% for group, summary in (summary or {}).items() %}
* {{ group }} group in {{ summary.path }}:
  {{ summary.size }}B across {{ summary.count }} files
{% endfor %}
{% endif -%}
HGI team